#loading {
    position: static;
    z-index: 1;
    width: 75px;
    height: 75px;
    margin: auto;
    animation: spin 2s linear infinite;
    }
    
@keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

#copy {
  height: 19px;
  padding: 0px 8px;
}

.row {
  display: inline-flex;
}