<form [formGroup]="form">
  <select formControlName="selected">
    <option *ngFor="let server of servers" [value]="server.serverId">{{server.name}}</option>
  </select>
</form>
<p >Selected server: {{form.controls.selected.value}}</p>
<div *ngIf="serverStatus$ | async as serverStatus; else loading">
  <div *ngIf="serverStatus.isServerAvailable">
    <h1>Server is up!</h1>
    <p>Server IP: {{serverStatus.serverIp}}</p>
    <p>Current Players: {{serverStatus.numPlayers}}</p>
    <p>Server Name: {{serverStatus.name}}</p>
    <p>Map Name: {{serverStatus.map}}</p>
  </div>
  <div *ngIf="!serverStatus.isServerAvailable">
    <h1>Server is down!</h1>
  </div>
  <app-state-button [isServerAvailable]="serverStatus.isServerAvailable" [serverId]="serverId$ | async"></app-state-button>
</div>
<ng-template #loading>
  <div id=loading>
    <img src="assets/images/carrot.png" />
  </div>
</ng-template>