/* * {
  outline: 1px red solid;
} */

h1,
h2,
h3,
h4,
h5 {
  margin-top: auto;
  margin-bottom: auto;
}

.App {
  font-family: "Trebuchet MS";
}

.container {
  margin: auto;
  margin-top: 24px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.instance {
  border: 1px lightgray solid;
  border-radius: 6px;
}

.instance-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

.server {
  border-top: 1px lightgray solid;
  padding: 6px;
}

.server-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.server-state {
  color: white;
  border-radius: 12px;
  background-color: gray;
  padding: 6px 12px;
  line-height: 12px;
}

.running {
  background-color: green;
}

.server-actions {
  display: flex;
  justify-content: flex-end;
}

svg {
  display: block;
}
